# <center> NGC 8 - P0 </center>
## <center> by Catherine Helenna Mulyadi </center>
## <center> RMT-027 </center>

<center>This notebook contains an exercise for applying both Pandas and PostgreSQL to perform data preprocessing from a given csv file. The program will perform data cleaning, exploration, and conclusion.</center>

## IMPORT LIBARY

In [64]:
# IMPORTANT LIBRARIES TO USE IN THIS EXERCISE
import psycopg2
from psycopg2 import sql
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,text
engine = create_engine("postgresql://postgres:postgres@localhost/ngc8p0")
# tergantung, kl mysql -> postgresql menjadi mysql

In [65]:
# Replace these parameters with your actual database credentials
db_user = "postgres"
db_password = "postgres" #Use your own password
db_host = "localhost"  # Usually "localhost" if running locally
db_port = "5432"  # Default is 5432

connection = psycopg2.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port
)

In [66]:
cursor = connection.cursor()
# cursor untuk mengeksekusi program

In [ ]:
# membuat database baru
connection.autocommit = True

q = sql.SQL('CREATE DATABASE ngc8p0;')
cursor.execute(q)

cursor.close()
connection.close()

In [67]:
connection = psycopg2.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port,
    database="ngc8p0"
)

cursor = connection.cursor()

q = sql.SQL('''CREATE TABLE IF NOT EXISTS ngc8p0 (
    province_state VARCHAR(50),
    country_region VARCHAR(50),
    date DATE,
    latitude FLOAT,
    longitude FLOAT,
    location_geom VARCHAR(50),
    confirmed INTEGER,
    death INTEGER,
    recovered INTEGER,
    active INTEGER,
    fips INTEGER,
    admin2 INTEGER,
    combined_key VARCHAR(50)
);''')

cursor.execute(q)
connection.commit()

### DATA LOADING

In [68]:
df = pd.read_csv("https://github.com/FTDS-learning-materials/phase-0/raw/main/src/data_ngc.csv")

# preview first 5 data
df.head()

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,fips,admin2,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN,NaN,NaN

## INTRODUCTION TO DATA INSIDE THE TABLE:

- General information: the data represented information related to possibly disease spreading in different provinces from some ASEAN countries.

- There are 11930 data in 13 columns as shown in df.info().

- Based on df.info(), the dataset is incomplete as there are some null values in almost all columns except country_region and date.

- There are two columns having completely empty values: fips and admin2.

### PROBLEM STATEMENT:
- Which country has the highest (predicted) active case?

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  9078 non-null   object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  fips            0 non-null      float64
 11  admin2          0 non-null      float64
 12  combined_key    11793 non-null  object
dtypes: float64(8), object(5)
memory usage: 1.2+ MB

## DATA PREPROCESSING PROCEDURE:

### Knowing some columns containing NaN values, we need to perform data cleaning and transoformation.

- Delete column 'fips' and 'admin2' as they do not have any information at all; so they are not usable.

- In province_state, there are some "Unknown" values so we can replace the null values with it as it means the same thing.

- the column combined_key comes from column: province_state and column: country_region.

- the relationship: location_geom = POINT(longitude latitude)

### ANSWER TO THE PROBLEM IN 3 STEPS:
- based on the complete data in some rows, the relationship: confirmed = death + recovered + active was found.

- we can do calculation to predict the number of active cases by assuming one of the other unknown factors = 0.

- finally, we can group the number of active cases based on country_region and compare the number of cases.

In [70]:
# how to drop column fips and admin2
# tablename.drop(['column1','column2'], axis = 1, inplace = True)
# axis = 1 means column removal, axis = 0 means row removal
df.drop(['fips', 'admin2'], axis=1, inplace=True)
df

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
0,NaN,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN
1,NaN,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN
2,NaN,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN
3,NaN,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN
4,NaN,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,"Pahang, Malaysia"

### Fill the NaN values in province_state

In [71]:
# fill the NaN values in province_sate as Unknown since some data also have Unknown values.
df.province_state.fillna('Unknown', inplace= True)
df

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
0,Unknown,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,NaN
1,Unknown,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,NaN
2,Unknown,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,NaN
3,Unknown,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,NaN
4,Unknown,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,"Pahang, Malaysia"

### RECREATE the 'combined_key' values from 'province_state' and 'country_region'

In [72]:
# replace the NaN values in combined_key column with
# combination of province_state and country_region
# Fill NaN values in 'combined_key' with the combination of 'province_state' and 'country_region'
df['combined_key'].fillna(df['province_state'] + ', ' + df['country_region'], inplace=True)

# Verify changes
df.info()

df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11930 non-null  object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11321 non-null  float64
 4   longitude       11321 non-null  float64
 5   location_geom   11321 non-null  object
 6   confirmed       11929 non-null  float64
 7   deaths          11913 non-null  float64
 8   recovered       1640 non-null   float64
 9   active          1520 non-null   float64
 10  combined_key    11930 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.0+ MB

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
0,Unknown,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,24.0,NaN,"Unknown, Malaysia"
1,Unknown,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,24.0,NaN,"Unknown, Malaysia"
2,Unknown,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,97.0,NaN,"Unknown, Singapore"
3,Unknown,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,26.0,NaN,"Unknown, Malaysia"
4,Unknown,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,42.0,NaN,"Unknown, Malaysia"
...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,NaN,NaN,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,NaN,NaN,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,NaN,NaN,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,NaN,NaN,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,NaN,NaN,"Pahang, Malaysia"

### CALCULATE the remaining deaths, recovered, and active cases from known confirmed cases

In [73]:
# SET all NaN values into zero first
df['confirmed'].fillna(0, inplace=True)
df['deaths'].fillna(0, inplace=True)
df['recovered'].fillna(0, inplace=True)
df['active'].fillna(0, inplace=True)

# to access the rows in the dataset, we need to do iteration with looping
# there are two things we will iterate: the row number (index) and row data type (row)
for index, row in df.iterrows():
    # the condition when accessing data type from column 'confirmed'
    if 'confirmed' in row and row['confirmed'] == 0:
        df.at[index, 'deaths'] = 0
        df.at[index, 'recovered'] = 0
        df.at[index, 'active'] = 0
    else:
        if 'deaths' in row and row['deaths'] == 0:
            # under the assumption that the remaining population is considered as an active case; not as a recovered case.
            df.at[index, 'recovered'] = 0
            df.at[index, 'active'] = row['confirmed']
        else:
            if 'recovered' in row and row['recovered'] == 0:
                # still same assumption; remaining population would always be active, not recovered case
                df.at[index, 'active'] = row['confirmed'] - row['deaths']
            elif 'active' in row and row['active'] == 0:
                df.at[index, 'recovered'] = row['confirmed'] - row['deaths']
            else:
                # Calculate 'active' based on the available values
                df.at[index, 'active'] = row['confirmed'] - row['recovered'] - row['deaths']
df

,province_state,country_region,date,latitude,longitude,location_geom,confirmed,deaths,recovered,active,combined_key
0,Unknown,Malaysia,2020-03-08,2.5000,112.5000,POINT(112.5 2.5),99.0,0.0,0.0,99.0,"Unknown, Malaysia"
1,Unknown,Malaysia,2020-03-10,2.5000,112.5000,POINT(112.5 2.5),129.0,0.0,0.0,129.0,"Unknown, Malaysia"
2,Unknown,Singapore,2020-03-13,1.3521,103.8198,POINT(103.8198 1.3521),200.0,0.0,0.0,200.0,"Unknown, Singapore"
3,Unknown,Malaysia,2020-03-13,4.2105,101.9758,POINT(101.9758 4.2105),197.0,0.0,0.0,197.0,"Unknown, Malaysia"
4,Unknown,Malaysia,2020-03-15,4.2105,101.9758,POINT(101.9758 4.2105),428.0,0.0,0.0,428.0,"Unknown, Malaysia"
...,...,...,...,...,...,...,...,...,...,...,...
11925,Pahang,Malaysia,2022-06-02,3.8126,103.3256,POINT(103.3256 3.8126),171734.0,975.0,0.0,170759.0,"Pahang, Malaysia"
11926,Pahang,Malaysia,2022-04-29,3.8126,103.3256,POINT(103.3256 3.8126),170740.0,970.0,0.0,169770.0,"Pahang, Malaysia"
11927,Pahang,Malaysia,2022-01-10,3.8126,103.3256,POINT(103.3256 3.8126),97320.0,782.0,0.0,96538.0,"Pahang, Malaysia"
11928,Pahang,Malaysia,2023-02-25,3.8126,103.3256,POINT(103.3256 3.8126),182730.0,1031.0,0.0,181699.0,"Pahang, Malaysia"
11929,Pahang,Malaysia,2022-09-29,3.8126,103.3256,POINT(103.3256 3.8126),177522.0,1008.0,0.0,176514.0,"Pahang, Malaysia"

### COMPLETING the latitude, altitude, and location_geom

In [75]:
# for the NaN values in latitude and longitude, replace them with '0'.
df['latitude'].fillna(0, inplace=True)
df['longitude'].fillna(0, inplace=True)

# create the location_geom new values to replace NaN
df['location_geom'] = df.apply(lambda row: f'POINTS({row["longitude"]} {row["latitude"]})', axis=1)
# There are no more NaN values on the table
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11930 entries, 0 to 11929
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  11930 non-null  object
 1   country_region  11930 non-null  object
 2   date            11930 non-null  object
 3   latitude        11930 non-null  float64
 4   longitude       11930 non-null  float64
 5   location_geom   11930 non-null  object
 6   confirmed       11930 non-null  float64
 7   deaths          11930 non-null  float64
 8   recovered       11930 non-null  float64
 9   active          11930 non-null  float64
 10  combined_key    11930 non-null  object
dtypes: float64(6), object(5)
memory usage: 1.0+ MB

### GROUPING DATA TO PRESENT NUMBER OF ACTIVE CASES PER COUNTRY REGION

In [77]:
# syntax for summing values in other columns based on country_region
result = df.groupby('country_region')['active'].sum().reset_index()
result_sorted = result.sort_values(by='active', ascending=False)
# only show the column country_region and active
result_sorted[['country_region', 'active']]

  country_region        active
0      Indonesia  3.227741e+09
1       Malaysia  2.258102e+09
2      Singapore  6.984283e+08

## CONCLUSION

### ANSWER TO THE PROBLEM:
- From some complete data rows, the relationship: confirmed = death + recovered + active was found.
Based on predicted 'active case' calculation by assuming recovered case = 0 when other values are known, the country with the highest active cases is Indonesia (3.227742e+09), followed by Malaysia (2.258308e+09), and then Singapore (6.984286e+08).

### OTHER FINDINGS:
- The dataset contains relatively a lot of NaN values for province_state (23.9%). Therefore, it is impossible to remove the data with NaN values. Instead, all NaN values were replaced by 'Unknown'.

- There were no solution in filling the information for latitude and longitude since we cannot refer to other complete data having information about province_state, country_region, and location_geom. Thus, all NaN values were replaced by 0 in order to make location_geom = POINTS('longitude' 'latitude').